<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Title</title>
</head>
<body>
    <h1 id="title">Favorite technology search form</h1>
    <p id="description">Please come and participate in our survey</p>
    <form action="" method="post" id="survey-form">
        <fieldset>
            <label for="name-label">Name: <input type="text" id="name-label"></label>
            <label for="email-label">Email: <input type="email" id="email-label"></label>
            <label for="age-label">Age: <input type="number" id="number-label" min="13" max=""></label>
        </fieldset>
        <fieldset>
            <label>
                Which option best describes your current role?
                <select>
                    <option value="">Select Option</option>
                    <option value="1">Student</option>
                    <option value="2">Full Time Job</option>
                    <option value="3">Full Time Learner</option>
                    <option value="4">Prefer Not To Say</option>
                    <option value="5">Other</option>
                </select>
            </label>
        </fieldset>
        <fieldset>
            <legend>Would you like to learn a new skill?</legend>
            <label><input class="inline" type="radio" name="radio" checked> Definitely</label>
            <label><input class="inline" type="radio"> Maybe</label>
            <label><input class="inline" type="radio"> Not Sure</label>
        </fieldset>
        <fieldset>
            <label>
                What's your favorite feature?
                <select>
                    <option value="">Select Options</option>
                    <option value="1">Challenges</option>
                    <option value="2">Projects</option>
                    <option value="3">Community</option>
                    <option value="4">Open Source</option>
                    <option value="5"></option>
                </select>
            </label>
        </fieldset>
        <fieldset>
            <legend>What would you like to improve?</legend>
            <label><input class="inline" type="checkbox">Front-end Projects</label>
            <label><input class="inline" type="checkbox">Forum</label>
            <label><input class="inline" type="checkbox">Back-end Projects</label>
            <label><input class="inline" type="checkbox">Data Visualization</label>
            <label><input class="inline" type="checkbox">Challenges</label>
            <label><input class="inline" type="checkbox">Open Source Community</label>
            <label><input class="inline" type="checkbox">Gitter help rooms</label>
            <label><input class="inline" type="checkbox">Videos</label>
            <label><input class="inline" type="checkbox">City Meetups</label>
            <label><input class="inline" type="checkbox">Wiki</label>
            <label><input class="inline" type="checkbox">Additional Courses</label>
        </fieldset>
        <fieldset>
            <label>
                Any comments or suggestions?
                <textarea name="bio" id="" cols="50" rows="5">Enter your comment here...</textarea>
            </label>
        </fieldset>
        <input type="submit" value="Submit">
    </form>
</body>
</html>